.calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  max-width: 15rem;
}

.btns-group {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  max-width: 14rem;
  gap: 0.5rem;
}


.btn{
  width: 3rem;
  height: 3rem;
  border-radius: 15px;
}
